<html> 
    <head> 
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.css')
}}"> 
        <title>Veranstaltungskalender </title> 
    </head> 
    <body> 
        <h1><br/>Veranstaltungskalender </h1> 
        <!--1 <p> das muss ich noch einkaufen {{ einkaufsliste }}</p> -->
        <table class="table table-hover">
            <thead>
                <tr>
                <th>Wer</th>
                <th>Wann</th>
                <th>Wo</th>
                <th>günstigste Preis</th>
                </tr>
            </thead>        
            <tbody>
                <tr>
                <td>187</td>
                <td>18.02.2024</td>
                <td>Berlin</td>
                <td>30</td>
                </tr>
                
                
                <tr>
                <td>Rammstein</td>
                <td>10.10.2024</td>
                <td>Buxtehude</td>
                <td>70</td>
                </tr>
                
                
                <tr>
                <td>Santiano</td>
                <td>13.05.2024</td>
                <td>Köln</td>
                <td>130</td>
                </tr>
                
                
                <tr>
                <td>Standart Skill</td>
                <td>26.08.2024</td>
                <td>Rasstadt</td>
                <td>1000</td>
                </tr>
            </tbody>
        </table>




    </body> 
</html> 